In [16]:
import requests
import pandas as pd

url = "https://imdb-top-100-movies.p.rapidapi.com/"

headers = {
	"X-RapidAPI-Key": "1ef09404c0msha8762538d43bb96p1e0e55jsn18bf1e4617a1",
	"X-RapidAPI-Host": "imdb-top-100-movies.p.rapidapi.com"
}

response = requests.get(url, headers=headers)
json_data = response.json()
df = pd.DataFrame(json_data)

In [19]:
df.head(1)

,rank,title,thumbnail,rating,id,year,image,description,trailer,genre,director,writers,imdbid
0,1,The Shawshank Redemption,https://m.media-amazon.com/images/M/MV5BMDFkYT...,9.3,top1,1994,https://m.media-amazon.com/images/M/MV5BMDFkYT...,Two imprisoned men bond over a number of years...,https://www.youtube.com/embed/NmzuHjWmXOc,[Drama],[Frank Darabont],"[Stephen King (based on the short novel ""Rita ...",tt0111161

In [35]:
my_df = df[['title', 'rating', 'year', 'image']].copy()
my_df.head(5)

,title,rating,year,image
0,The Shawshank Redemption,9.3,1994,https://m.media-amazon.com/images/M/MV5BMDFkYT...
1,The Godfather,9.2,1972,https://m.media-amazon.com/images/M/MV5BM2MyNj...
2,The Dark Knight,9.0,2008,https://m.media-amazon.com/images/M/MV5BMTMxNT...
3,The Godfather Part II,9.0,1974,https://m.media-amazon.com/images/M/MV5BMWMwMG...
4,12 Angry Men,9.0,1957,https://m.media-amazon.com/images/M/MV5BMWU4N2...

In [36]:
my_df['genre'] = df['genre'].apply(lambda x: x[0])
my_df['director'] = df['director'].apply(lambda x: x[0])
my_df.head(5)

,title,rating,year,image,genre,director
0,The Shawshank Redemption,9.3,1994,https://m.media-amazon.com/images/M/MV5BMDFkYT...,Drama,Frank Darabont
1,The Godfather,9.2,1972,https://m.media-amazon.com/images/M/MV5BM2MyNj...,Crime,Francis Ford Coppola
2,The Dark Knight,9.0,2008,https://m.media-amazon.com/images/M/MV5BMTMxNT...,Action,Christopher Nolan
3,The Godfather Part II,9.0,1974,https://m.media-amazon.com/images/M/MV5BMWMwMG...,Crime,Francis Ford Coppola
4,12 Angry Men,9.0,1957,https://m.media-amazon.com/images/M/MV5BMWU4N2...,Crime,Sidney Lumet

In [1]:

var = cursor.execute("""SELECT * FROM filmes""")

1.4.27